.App {
  text-align: center;
}

.header{
  font-weight:400;
  background-color: #61dafb;
  padding: 25px;
  font-size:30px;
}

.App-link {
  color: #61dafb;
}

.player {
  background-color: red;
  margin-bottom: 1.3rem;
  padding: 1.3rem;
  font-weight: 300;
  font-size: 1.8rem;
  margin: 0 auto;
   max-width: 30rem;
  padding: 1.3rem;
}

